{% extends 'base.html' %}
{% block title %}Régler un paiement - Paye ton asso!{% endblock %}
{% block authmessage %}Vous êtes connecté pour régler au nom de <strong>{{ transaction.user_name }}</strong>.{% endblock %}
{% block content %}
{% if failed %}
<div class="alert alert-success alert-container">
    <h4>La transaction n'a pas abouti.</h4>
    <p>Veuillez réessayer.</p>
</div>
{% endif %}
{% if successful %}
<div class="alert alert-error alert-container">
    <h4>Le paiement a bien été effectué.</h4>
    <p>L'équipe de {{ transaction.transaction.fundation_name }} a reçu l'argent, et a été avertie de la réussite du paiement.</p>
</div>
{% endif %}
<div class="container">
    <a href="{% url "payetonasso.views.initiate_payment" %}?transaction={{ transaction.id }}" class="btn" big type="primary" {% if transaction.state == 'V' %}disabled{% endif %}>Payer {{ transaction.transaction.price }}€ à {{ transaction.transaction.fundation_name }}</a>
    {% if transaction.state == 'V' %}<p><strong>Ce paiement a déjà été réglé.</strong></p>{% endif %}
</div>
<div class="container">
    <h2>{{ transaction.transaction.name }}</h2>
    <p>{{ transaction.transaction.message }}</p>
</div>
{% endblock %}
