{% extends 'base.html' %}
{% block title %}Transactions - Paye ton asso!{% endblock %}
{% block authmessage %}<p>Vous êtes bien connecté en tant que <strong>{{ first_name }} {{ last_name }}.</strong></p>{% endblock %}
{% block content %}
<div class="text-container">
    <h2>Transactions</h2>
    <p><a type="primary" href="{% url "payetonasso.views.new_transaction" %}" class="btn access-button">Créer une transaction</a>
</div>
<div class="text-container">
    <h3>Liste des transactions</h3>
    <table>
        <thead>
            <tr>
                <th>Destinataire</th>
                <th>Transaction</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Email d'envoi</th>
                <th>Association</th>
                <th>ID PayUTC</th>
                <th>Etat</th>
                <th>Date de validation</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
            <tr>
                <td>{{ t.user_name }}</td>
                <td>{{ t.transaction__name }}</td>
                <td>{{ t.transaction__message }}</td>
                <td>{{ t.transaction__created }}</td>
                <td>{{ t.user_email }}</td>
                <td>{{ t.transaction__fundation_name }}</td>
                <td>{{ t.transaction__nemopay_article_id }}</td>
                {% if t.state == state_valid %}
                <td><span class="label label-success">Validé</span></td>
                {% elif t.state == state_aborted %}
                <td><span class="label label-error">Annulé</span></td>
                {% else %}
                <td><span class="label label-warning">En&#8209;cours</span></td>
                {% endif %}
                {% if t.validation %}
                <td>{{ t.validation }}</td>
                {% else %}
                <td>--</td>
                {% endif %}
                <td>{{ t.transaction__price }}€</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="container">
    <a class="btn" href="{% url 'payetonasso.views.dashboard' %}" type="black">Retourner au dashboard</a>
</div>
{% endblock %}