<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Un paiement a été validé sur Paye ton Asso!</title>
</head>
<body>
    <div><p>Bonjour,</p>
    <p>Ce mail vous est envoyé car <strong>{{ it.user_name }}</strong> a payé la transaction {{ it.transaction.name }}, et que vous avez choisi d'être notifié.e lors du paiement de cette transaction. L'argent a été reversé sur le compte PayUTC de l'association {{ it.fundation_name }}.</p>
    <div><p>Bonne journée,</p>
    <p><em>Paye ton Asso!</em></p></div>
</body>
</html>
