{% load static %}
<!doctype html>
<html>
	<head>
		<title>{% block title %}Paye ton asso!{% endblock %}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static 'css/kube.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<div class="header container">
			<h1 class="title">Paye ton asso!</h1>
			<p>Pour que les assos puissent récupérer leur thune plus facilement.</p>
            {% block authmessage %}{% endblock %}
		</div>
        {% block content %}
        {% endblock %}
		<footer class="container"><p class="smaller">Made by Eric Gourlaouen.</p></footer>
	</body>
    {% block scripts %}
    {% endblock %}
</html>
