{% extends 'base.html' %}
{% block title %}Dashboard - Paye ton asso!{% endblock %}
{% block authmessage %}<p>Vous êtes bien connecté en tant que <strong>{{ first_name }} {{ last_name }}.</strong></p>{% endblock %}
{% block content %}
<row around>
    <columns cols="12">
        <div class="text-container">
            <h2>Transactions</h2>
            <p><a type="primary" href="{% url "payetonasso.views.new_transaction" %}" class="btn access-button">Créer une transaction</a> <a href="{% url "payetonasso.views.transactions" %}" class="access-button btn" outline>Accéder aux transactions</a></p>
            <p>Vous avez encore <strong>{{ waiting_transactions }}</strong> transactions en attente, et <strong>{{ validated_transactions }}</strong> transactions validées.</p>
            {% if validated_transactions > 0 %}
                <p>Dernières transactions validées :</p>
                <table>
                    <thead>
                        <tr>
                            <th>Destinataire</th>
                            <th>Transaction</th>
                            <th>Date</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in last_validated %}
                        <tr>
                            <td>{{ transaction.user_name }}</td>
                            <td>{{ transaction.transaction__name }}</td>
                            <td>{{ transaction.validation }}</td>
                            <td>{{ transaction.transaction__price }}€</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </columns>
</row>
<div class="container">
    <a href="{% url "utcaccounts.views.deconnexion" %}" class="btn" type="black">Déconnexion</a>
</div>
{% endblock %}
