{% extends 'base.html' %}
{% block content %}
{% if deactivated %}
<div class="alert alert-danger alert-container">
    <h4>Compte désactivé</h4>
    <p>Votre compte n'est pas activé. Contactez l'administrateur.</p>
</div>
{% endif %}
<div class="container center-button">
    <form action="{% url "utcaccounts.views.connexion_cas" %}">
        <button big type="primary">Connexion CAS</button>
    </form>
</div>
<div class="text-container">
    <h2>FAQ</h2>
    <p>C'est quoi <strong>Paye ton asso!</strong> ?</p>
    <p class="smaller"><strong>Paye ton asso!</strong> est un outil associatif qui permet de demander facilement des paiements PayUTC à des étudiants UTCéens. Vous pouvez consulter en temps réel l'état de ces transactions, pour savoir si elles ont été payées ou si elles sont encore en attente de paiement.<br />
    C'est l'outil idéal pour toute association qui souhaite demander de l'argent à ses membres, ou à des particuliers : pour un week-end de team-building, pour l'achat de sweats à l'effigie de l'association, pour un billet à tarif préférentiel...</p>
    <p>De quoi est-ce que j'ai besoin pour utiliser <strong>Paye ton asso!</strong> ?</p>
    <p class="smaller">Pour utiliser <strong>Paye ton asso!</strong>, tu as besoin d'avoir des droits de gestion sur ton association sur PayUTC - n'importe lesquels, à partir du moment où tu peux accéder à l'interface de gestion <a href="https://payutc-admin.nemopay.net">PayUTC admin</a> de ton association.</p>
</div>
{% endblock %}
